testing_pyscreeze.py 
testing_pyautogui.py
captcha_images_v2/
downloaded_images/

# MedSeller's
src/__pycache__/
data/*
model_saves/*

`curl -LO https://github.com/AakashKumarNain/CaptchaCracker/raw/master/captcha_images_v2.zip`
`unzip -qq captcha_images_v2.zip`
